{% extends 'Navbar/projectnavbar.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
    {% block body %}
        {% if messages %}
            {% for message in messages %}
                {% if not message.tags %}
                    <div class="error-message">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="container1">
            <div class="bodycontainer"><br><br>
                <h1 align="center">Register Page</h1>
                <br><br><br><br><br>
                <form method="post" action="{% url 'signup1' %}">
                    {% csrf_token %}
                    <table align="center" border="2">
                        <tr>
                            <td>First Name</td>
                            <td><input type="text" name="first_name" placeholder="Enter First Name" required/></td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td><input type="text" name="last_name" placeholder="Enter Last Name" required/></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="email" name="email" placeholder="Enter Email" required/></td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td><input type="text" name="username" placeholder="Enter ID" required/></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" name="password" required/></td>
                        </tr>
                        <tr>
                            <td>Confirm Password</td>
                            <td><input type="password" name="password1" required/></td>
                        </tr>
                        <tr>
                            <td align="center"><button type="submit" name="SUBMIT">Submit</button></td>
                            <td align="center"><button type="reset">Reset</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    {% endblock %}
</body>
</html>